<!DOCTYPE html>
<html>
    <head>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <title>Yelp Camp</title>
    </head>
<body class="about">
    <nav class="navbar navbar-default"> 
        <a href="/" class="navbar-brand">Yelp Camp</a>
        <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <% if(!currentUser){ %>
                    <li class="nav-item"><a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="/register"><i class="fas fa-user-plus"></i> Signup</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about"><i class="fas fa-info-circle"></i> About</a></li>
                    <% } else { %>
                    <li><a href="#">Signed in as <%= currentUser.username %> </a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                    <% } %>
                </ul>
        </div>
    </nav>
    <div class="container">
        <% if(success && success.length>0) { %>
            <div class="alert alert-success" role="alert">
                <%=success%>
            </div>
        <%}%>
        <% if(error && error.length>0) { %>
        <div class="alert alert-danger" role="alert">
            <%=error%>
        </div>
        <% } %>
        
    </div>
        <div  class="content">
        <h1>About website</h1>
        <p>YelpCamp is a campground viewing app where users can <br>
           add,view,update
           and comment on others camground. <br>
           This website is a end project from the web development<br>
           bootcamp course by colt steele on udemy.<br>
           It was created using NodeJS,ExpressJS,PassportJS,MongoDB.
        </p>

        <h2>About Me</h2>
        <div class="dp"></div>
        <h3>chirag khandelwal</h3>
        <em>CSE undergraduate,Anna University</em>
        <h4>Developer,Designer & Learner</h4>

        <h4>Make sure to follow me on my social media handles<h4>
            
            <a style="color:black;" href="https://github.com/Chirag-tech"><i class="fab fa-github-square"></i></a>
            <a style="color:rgb(0, 110, 201);"href="https://twitter.com/chiragkhuteta"><i class="fab fa-twitter"></i></a>
            <a style="color: rgba(24, 114, 218, 0.877);"href="https://www.linkedin.com/in/chirag-khandelwal-688b16188"> <i class="fab fa-linkedin"></i></a>
            <a style="color:red;"href="https://www.instagram.com/chirag___khandelwal/"><i class="fab fa-instagram"></i></a>

            

        <h5 style="text-align: center;">Copyright  <i class="far fa-copyright"></i>  YelpCamp 2020</h5>
            
</div>
</body>
</html>